{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" class="form-control mx-auto w-auto">
                <option value="">Select a Stock</option>
                {% for stock in stocks %}
                    <option value="{{ stock.symbol }}">{{ stock.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Amount" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
