body{
    text-align: center;
    background-color: paleturquoise;
    width: 50%;
    margin: 0 auto;
}

.carousel-inner img{
    margin: auto;
}

img{
    width: 100%;
}

#end {font-size: 150%;}

h1{
    font-weight: bold;
}